.kahoot {
    display: grid;
    grid-template:
        "p p"
        "a b"
        "c d"
        "but but";
    row-gap: 40px;
    column-gap: 30px;
    grid-template-rows: 60px 200px 200px 60px;
    text-align: center;
}

.question {
    grid-area: p;
    background-color: azure;
    font-size: 4ch;
    align-self: center;
    align-content: center;
}
.answerbox {
    border-radius: 20px;
}
.ans1 {
    grid-area: a;
    background-color: antiquewhite;
}
.ans2 {
    grid-area: b;
    background-color: blueviolet;
}
.ans3 {
    grid-area: c;
    background-color: goldenrod;
}
.ans4 {
    grid-area: d;
    background-color: hotpink;
}
button {
    grid-area: but;
}

.nameform {
    text-align: center;
    margin: auto 0;
    font-size: 10ch;
}
