body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f2f2f2;
    color: #000;
} 

.nameform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: all 0.5s ease;
}
.nameform h1 {
    margin: 0;
    padding: 0;
    font-size: 4ch;
}
.nameform input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 2ch;
}

.nameform button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 2ch;
    cursor: pointer;
}
.nameform button:hover {
    outline: 1px solid black;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.nameform p {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    font-size: 1.5ch;
}

.waiting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.players {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10vh;
}

.player {
    margin-right: 10px; /* Adjust the spacing between the names */
    margin-bottom: 10px; /* Adjust the spacing between the lines */
    background-color: aliceblue;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.player::before {
    content: "👤";
    margin-right: 5px;
}
.player:hover {
    outline: 1px solid black;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.kahoot {
    display: grid;
    grid-template:
        "p p"
        "a b"
        "c d"
        "but but";
    row-gap: 40px;
    column-gap: 30px;
    grid-template-rows: 60px 200px 200px 60px;
    text-align: center;
    margin: 15px;
    height: 100vh;
}

.question {
    grid-area: p;
    font-size: 4ch;
    align-self: center;
    align-content: center;
}
.answerbox {
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    font-size: 2.5ch;
}
.answerbox:hover {
    outline: 1px solid black;
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ans1 {
    grid-area: a;
    background-color: #fed766;
}
.ans2 {
    grid-area: b;
    background-color: #f2a359;
}
.ans3 {
    grid-area: c;
    background-color: #abcc60;
}
.ans4 {
    grid-area: d;
    background-color: #cee397;
}
button {
    grid-area: but;
}

