form {
    display: grid;
    grid-template:
        "p p"
        "a b"
        "c d";
    row-gap: 40px;
    column-gap: 30px;
    
}

.question {
    grid-area: p;
    background-color: azure;
}
.answerbox {
    border-radius: 20px;
}
.ans1 {
    grid-area: a;
    background-color: antiquewhite;
}
.ans2 {
    grid-area: b;
    background-color: blueviolet;
}
.ans3 {
    grid-area: c;
    background-color: goldenrod;
}
.ans4 {
    grid-area: d;
    background-color: hotpink;
}
